<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
</head>
<body>
	<div style="background-color: #fff;">
	<table style="width:100%";margin-top:0><tr><td style="width:60%;" valign="bottom">&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>Roma, %Oggi%<br/>&nbsp;</td><td>
		Spettabile %RapprLegale%<br/>
		%Indirizzo%<br/>
		%Cap% %Localita% %SiglaProvincia%
		</td></tr>
	</table>		
	<table style="width:100%";margin-top:25px>
		<tr><td style="width:80px;">Oggetto:</td><td style="width:800px;">Preavviso di segnalazione negativa ai Sistemi di Informazione Creditizia (c.d. S.I.C.) e alla Centrale dei Rischi</td></tr>
		<tr><td style="width:80px;"></td><td>Contratto n. %CodContrattoRidotto% Intestato a %Intestatario% </td></tr></table>
	<p>Gentile Cliente,</p>
	<p align="justify" style="margin-bottom:12px">
		in relazione al contratto di finanziamento n. %CodContrattoRidotto% da Lei stipulato con la Scrivente,
		la informiamo che non risulta ancora pervenuto il pagamento della maxi rata di &euro; %RataFinale% scaduta in data %DataRataFinale%.
	</p>
	<p align="justify" style="margin-bottom:12px">Le ricordiamo	che, come da contratto sottoscritto, le opzioni delle quali pu&ograve; usufruire sono:
	</p>
	<ol><li>Rifinanziare l'ammontare residuo;</li>
		<li>Ripartire con una nuova Toyota;</li>
		<li>Tenere la vettura saldando in un'unica soluzione.</li>
	</ol>
	<p align="justify" style="margin-bottom:12px">La invitiamo al rispetto dei termini contrattuali dando seguito ad una delle opzioni sopra riportate entro e non oltre 15 (quindici) giorni dalla ricezione della presente.<br> Nel caso volesse saldare in unica soluzione, la invitiamo ad effettuare il pagamento entro lo stesso termine massimo di 15 (quindici) giorni dalla ricezione della presente, utilizzando le seguenti coordinate:</p>
<p align="justify" style="margin-bottom:12px">
	<sl>
	<li>- UNICREDIT BANCA </li>
	<li>- IBAN IT 36 B 02008 05364 000500045561 - intestato alla Toyota Financial Services Italia S.p.A.</li>
	<li>- Causale: pagamento rata finale finanziamento n. %CodContrattoRidotto%/PA
	</li></sl>
<p align="justify" style="margin-bottom:12px">
La informiamo inoltre che, continuando l'attuale stato di insolvenza, saremo tenuti a comunicare il ritardo nel pagamento ai Sistemi di Informazione Creditizia e alla Centrale dei Rischi, ai sensi degli articoli 5, comma 6 del “Codice di condotta per i Sistemi Informativi gestiti da soggetti privati in tema di crediti al consumo, affidabilità e puntualità nei pagamenti”, 125 comma 3 del Decreto Legislativo 1 settembre 1993 e della Circolare di Banca di Italia n.139 del 11/2/1991 e s.m.i.
</p>
<p align="justify" style="margin-bottom:12px">
&Egrave; nostro obbligo, infine, informarla che , nel rispetto dei criteri di trasparenza, correttezza e coerenza imposti dalla normativa vigente, ed in particolare dalla Circolare della Banca d'Italia n.139 dell'11 febbraio 1991 e s.m.i. e dall'art. 125 comma 3 del T.U.B. (Testo Unico Bancario), fintanto che la sua posizione debitoria non risulti chiusa, laddove ricorrano i presupposti prescritti dalla normativa, procederemo alla segnalazione del suo stato d'insolvenza nella Centrale dei Rischi, con classificazione a sofferenza.
</p>
<p align="justify" style="margin-bottom:12px">
Tali segnalazioni potrebbe avere riflessi negativi in relazione al Suo accesso al credito.
</p>
<p align="justify" style="margin-bottom:12px">
Qualora avesse gi&agrave; provveduto al pagamento della rata insoluta, la preghiamo di inviarci una copia della contabile del bonifico all'indirizzo email collection@it.itoyota-fs.com al fine di monitorare il corretto incasso.
<br>
Per qualsiasi ulteriore chiarimento siamo a sua completa disposizione all'indirizzo e-mail collection@it.toyota-fs.com oppure al numero 06/50524923 tasto 2, dal Luned&igrave; al Gioved&igrave; dalle ore 09.00 alle 12.00 e dalle ore 15.00 alle 18.00; il venerd&igrave; il servizio &egrave; attivo fino alle ore 16:45.
</p>		
		
<table style="width:100%;margin-top:0">
	<tr><td style="width:60%;" valign="bottom">Cordiali saluti,</td>
		<td>&nbsp;<br>Toyota Financial Services Italia S.p.A.</td>
	</tr>
</table>		
</body>
</html>