<!DOCTYPE html>
<html>
<head>

  <meta charset="ISO-8859-1">
</head>


<body>

	
<div style="background-color: rgb(255, 255, 255);">
	
<table style="width: 100%;" ;margin-top:0="">
  <tbody>
    <tr>
      <td style="width: 60%;" valign="bottom">%CodContratto% <br>
      <br>
Roma, %Oggi%</td>
      <td>
		Spettabile %RapprLegale%<br>

		%Indirizzo%<br>

		%Cap% %Localita% %SiglaProvincia%
		</td>
    </tr>

	
  </tbody>
</table>
		
	
<p style="font-weight: bold; margin-top: 10px;">OGGETTO: PREAVVISO COMUNICAZIONE DATI ALLA CENTRALE RISCHI</p>

	
<p>Gentile Cliente,</p>

	
<p style="margin-bottom: 15px;" align="justify">
		In relazione al contratto di finanziamento n. %CodContrattoRidotto% da Lei stipulato con la Scrivente, 
		 la informiamo che non risulta ancora pervenuto il pagamento delle rate insolute.
		  <br>
<br>
La invitiamo pertanto nuovamente a regolarizzare la Sua posizione
debitoria entro e non oltre quindici giorni dalla ricezione della
presente lettera di preavviso con una delle seguenti modalit&agrave;:
</p>

<ul>
  <li>Bonifico Bancario presso la UNICREDIT BANCA (Cod. IBAN
IT36B0200805364000500045561) intestato alla Toyota Financial Services
Italia S.p.A. con indicazione del numero di contratto (n.
%CodContrattoRidotto%) nella causale;
</li>
</ul>

<ul>
  <li>
Pagamento a mezzo Carta di Credito tramite il portale della
Toyota Financial Services <span style="white-space: nowrap;">https://www.toyota-fs.it/</span>.
Dopo aver effettuato l'accesso nell'Area Clienti, inserisca le sue
credenziali e clicchi sul pulsante "Dettagli" del suo contratto, poi su
"Paga Subito" compilando i campi richiesti. Qualora non possieda le
credenziali per accedere sul suo profilo, la invitiamo a cliccare sulla
sezione "Aiuto" e a visualizzare le "Faq" presenti, per avere le
informazioni necessarie.	 
  </li>
</ul>

<p style="margin-bottom: 15px;" align="justify">&Egrave; nostro obbligo
informarla che, nel rispetto dei criteri di trasparenza, correttezza e
coerenza imposti dalla normativa vigente ed in particolare dalla
Circolare della Banca d'Italia n.139 dell'11 febbraio 1991 e s.m.i. e
dall'art. 125 comma 3 del T.U.B. (Testo Unico Bancario), fintanto che
la sua posizione debitoria non risulti chiusa, laddove ricorrano i
presupposti prescritti dalla normativa, procederemo alla segnalazione
del suo stato d'insolvenza nella Centrale dei Rischi, con
classificazione a sofferenza.
<br>
<br>
Tale segnalazione potrebbe avere riflessi negativi in relazione al Suo accesso al credito. 
</p>

<p style="margin-bottom: 15px;" align="justify">Qualora avesse
gi&agrave; provveduto al pagamento delle rate insolute o avesse
attivato la procedura per l'estinzione anticipata, La preghiamo di
fornircene comunicazione.
<br>

<br>
Per qualsiasi chiarimento potr&agrave; contattare l'agenzia %Agenzia%
da noi incaricata all'indirizzo email %EmailAgenzia% oppure al numero
%TelAgenzia% dal Luned&igrave; al Venerd&igrave; dalle ore 09:00 alle
ore 18:00. </p>


<table style="width: 100%; margin-top: 0pt;">

	<tbody>
    <tr>
      <td style="width: 65%;" valign="bottom">Distinti Saluti,</td>

		<td>Toyota Financial Services Italia S.p.A.<br>
      <br>
      <br>
      <br>
      </td>

	</tr>

  </tbody>
</table>
</body>
</html>
