<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
</head>
<body>
<table>
    <thead>
		<tr>
		  <td align="center"><font size="14">TARGA: %targa% - TIPO VEICOLO: AUTOVEICOLO - DATA: %dataRichiesta%</font></td>
		</tr>
		<tr><td></td></tr>
	    <tr><td></td></tr>
		<tr><td></td></tr>
		<tr><td></td></tr>
	</thead>	
	<tr><td width="700px"><font size="11"><b>DATI DEL VEICOLO</b></font></td></tr>
	<tr><td width="295px">Targa</td><td>%targa%</td></tr>
	<tr><td width="295px">Telaio</td><td>%telaio%</td></tr>
	<tr><td width="295px">Fabbrica / Tipo</td><td>%fabbricaTipo%</td></tr>
	<tr><td width="295px">Modello Commerciale</td><td>%modelloCommerciale%</td></tr>
	<tr><td width="295px">Data Immatricolazione</td><td>%dataImmatricolazione%</td></tr>
	<tr><td width="295px">KW</td><td>%kw%</td></tr>
	<tr><td width="295px">Classe / Uso</td><td>%classeUso%</td></tr>
	<tr><td width="295px">Carrozzeria</td><td>%carrozzeria%</td></tr>
	<tr><td width="295px">Cilindrata</td><td>%cilindrata%</td></tr>
	<tr><td width="295px">Alimentazione</td><td>%alimentazione%</td></tr>
	<tr><td width="295px">Tara</td><td>%tara%</td></tr>
	<tr><td width="295px">Portata</td><td>%portata%</td></tr>
	<tr><td width="295px">Peso complessivo</td><td>%pesoComplessivo%</td></tr>
	<tr><td width="295px">Dispositivo Antinquinamento</td><td>%dispAntinquinamento%</td></tr>
	<tr><td width="295px">Posti n.ro</td><td>%posti%</td></tr>
	<tr><td width="295px">Assi n.ro</td><td>%assi%</td></tr>
	<tr><td></td></tr>
	<tr><td width="295px">Ultima Formalita'</td><td>%ultimaFormalita%</td></tr>
	<tr><td width="295px">Data Ultima Formalita'</td><td>%dataUltimaFormalita%</td></tr>
	<tr><td width="295px">R.P.</td><td>%rp%</td></tr>
	<tr><td></td></tr>
	<tr><td width="700px"><font size="11"><b>DATI DELLA INTESTAZIONE</b></font></td></tr>
	<tr><td width="295px">R.P.</td><td>%datiIntRp%</td></tr>
	<tr><td width="295px">del</td><td>%del%</td></tr>
	<tr><td width="295px">Atto</td><td>%atto%</td></tr>
	<tr><td width="295px">Data Atto</td><td>%dataAtto%</td></tr>
	<tr><td width="295px"><font size="11"><b>Prezzo del Veicolo</b></font></td><td><font size="11"><b>*******%prezzo% * Euro</b></font></td></tr>
	<tr><td></td></tr>
	%intestatario%
	%vincolo%
	%ipoteca%
	<tr><td width="700px"><font size="11"><b>ANNOTAZIONI</b></font></td></tr>
	%annotazioni%
	<tr><td width="700px">Consultazione effettuata il %dataSistema%</td></tr>
	<tr><td></td></tr>
    <tr><td></td></tr>	
	<tr><td width="630px" align="center"><font size="14"><b>NON COSTITUISCE CERTIFICAZIONE</b></font></td></tr>
</table>

</body>
</html>
