<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
</head>
<body>
<table>
    <tr>
	  <td align="center"><font size="14">TARGA: %targa% - TIPO VEICOLO: AUTOVEICOLO - DATA: %dataRichiesta%</font></td>
	</tr>
	<tr><td></td></tr>
	<tr><td></td></tr>
	<tr><td></td></tr>
	<tr><td width="700px"><font size="12"><b>DATI DEL VEICOLO</b></font></td></tr>
	<tr><td width="280px">Targa</td><td>%targa%</td></tr>
	<tr><td width="280px">Telaio</td><td>%telaio%</td></tr>
	<tr><td width="280px">Fabbrica / Tipo</td><td>%fabbricaTipo%</td></tr>
	<tr><td width="280px">Modello Commerciale</td><td>%modelloCommerciale%</td></tr>
	<tr><td width="280px">Data Immatricolazione</td><td>%dataImmatricolazione%</td></tr>
	<tr><td width="280px">KW</td><td>%kw%</td></tr>
	<tr><td width="280px">Classe / Uso</td><td>%classeUso%</td></tr>
	<tr><td width="280px">Carrozzeria</td><td>%carrozzeria%</td></tr>
	<tr><td width="280px">Cilindrata</td><td>%cilindrata%</td></tr>
	<tr><td width="280px">Alimentazione</td><td>%alimentazione%</td></tr>
	<tr><td width="280px">Tara</td><td>%tara%</td></tr>
	<tr><td width="280px">Dispositivo Antinquinamento</td><td>%dispAntinquinamento%</td></tr>
	<tr><td width="280px">Posti n.ro</td><td>%posti%</td></tr>
	<tr><td width="280px">Assi n.ro</td><td>%assi%</td></tr>
	<tr><td></td></tr>
	<tr><td width="280px">Ultima Formalita'</td><td>%ultimaFormalita%</td></tr>
	<tr><td width="280px">Data Ultima Formalita'</td><td>%dataUltimaFormalita%</td></tr>
	<tr><td width="280px">R.P.</td><td>%rp%</td></tr>
	<tr><td></td></tr>
	<tr><td width="700px"><font size="12"><b>DATI DELLA INTESTAZIONE</b></font></td></tr>
	<tr><td width="280px">R.P.</td><td>%datiIntRp%</td></tr>
	<tr><td width="280px">del</td><td>%del%</td></tr>
	<tr><td width="280px">Atto</td><td>%atto%</td></tr>
	<tr><td width="280px">Data Atto</td><td>%dataAtto%</td></tr>
	<tr><td width="280px"><font size="11"><b>Prezzo del Veicolo</b></font></td><td><font size="11"><b>*******%prezzo% * Euro</b></font></td></tr>
	<tr><td></td></tr>
	<tr><td width="280px"><font size="11"><b>Proprietario</b></font></td><td><font size="11"><b>%proprietario%</b></font></td></tr>
	<tr><td width="280px">Sesso / Tipo Societa'</td><td>%sessoTS%</td></tr>
	<tr><td width="280px">Codice Fiscale</td><td>%CF%</td></tr>
	<tr><td width="280px">Data di nascita</td><td>%dataNascita%</td></tr>
	<tr><td width="280px">Comune di nascita</td><td>%comuneNasc%</td></tr>
	<tr><td width="280px">Codice Comune Nascita Ministero Finanze</td><td>%codiceComuneNasc%</td></tr>
	<tr><td width="280px">Codice Comune Nascita ISTAT</td><td>%codiceComuneNascISTAT%</td></tr>
	<tr><td width="280px">Comune di residenza</td><td>%comuneResidenza%</td></tr>
	<tr><td width="280px">Indirizzo</td><td>%indirizzo%</td></tr>
	<tr><td width="280px">Codice Comune Residenza Ministero Finanze</td><td>%codiceComuneRes%</td></tr>
	<tr><td width="280px">Codice Comune Residenza ISTAT</td><td>%codiceComuneResISTAT%</td></tr>
	<tr><td></td></tr>
	<tr><td width="700px"><font size="12"><b>ANNOTAZIONI</b></font></td></tr>
	<tr><td width="700px">%annotazioni%</td></tr>
	<tr><td width="700px">%annotazioni2%</td></tr>
	<tr><td width="700px">%annotazioni3%</td></tr>
	<tr><td width="700px">%annotazioni4%</td></tr>
	<tr><td width="700px">Consultazione effettuata il %dataSistema%</td></tr>
	<tr><td></td></tr> 
	<tr><td width="700px" align="center"><font size="12"><b>NON COSTITUISCE CERTIFICAZIONE</b></font></td></tr>
	<tr><td></td></tr>
	<tr><td width="700px">Prodotto il %dataSistema%</td></tr>
</table>

</body>
</html>
